
.sg-header {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: $sg-ubuntu-orange-10;

  padding: 0 1em;
  height: 20vh;
  min-height: 100px;

  &_title {
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;

    @include media('<md') {
      margin: 1rem 0;
    }
  }

  &_tabs {
    display: block;
  }
}
