
.sg-logo {
  opacity: 0;
  visibility: hidden;
  transition: opacity .125s ease-in, visibility .125s ease-in;
  position: relative;
  padding: 1em;

  @include media('>md') {
    opacity: 1;
    visibility: visible;
  }

  a {
    color: $sg-white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  img {
    width: 15vw;

    @include media('>md') {
      width: 5vw;
    }
  }
}

body.-openSidebar .sg-logo {
  opacity: 1;
  visibility: visible;
}
