
.sg-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity .125s ease-in, visibility .125s ease-in;
  padding: 1em;

  @include media('>md') {
    opacity: 1;
    visibility: visible;
  }

  > ul {
    display: flex;
    flex-direction: column;
  }

  & > ul > li + li {
    margin-top: 2em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  span {
    text-transform: uppercase;
    color: $sg-white;
  }

  a {
    color: $sg-ubuntu-orange;
    text-decoration: none;
  }
}

body.-openSidebar .sg-menu {
  opacity: 1;
  visibility: visible;
}
