
@import '~highlight.js/styles/github';

.sg-highlight {
  padding: 1rem;

  > a {
    display: block;
    text-align: center;
  }

  .toggle-container {
    float: none;
    padding: 0;
    position: relative;
  }

  pre {
    padding: 0;
    margin: 0;
    border: 0;
    color: inherit;
    font-size: 12px;
  }

  code {
    &:not(.hljs) {
      display: none;
    }
  }
}
